---
layout: base
---

<div class="p-16 rounded shadow-lg w-full">
        <form>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 font-bold mb-2">Name</label>
                <textarea id="name" name="name" rows="2" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Name"></textarea>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
                <textarea id="email" name="email" rows="2" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Email"></textarea>
            </div>
            <div class="mb-4">
                <label for="message" class="block text-gray-700 font-bold mb-2">Message</label>
                <textarea id="message" name="message" rows="8" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="We look forward to hearing from you!"></textarea>
            </div>
            <button type="submit" class="w-1/6 bg-white text-gray-700 font-bold py-1 px-2 rounded-lg hover:bg-blue-600">Submit</button>
        </form>
</div>
